/* 832258    bacddc    eae2d6*/
/* ebdfc7   162843 */

.container {
    height: max-content;
    min-width: 192px;
    min-height: 234px;
    color: #ffecf4; /*eeeae4*/
    background-color: #171717; /*162843 cf4366*/
    /* border: solid 2px #ebdfc7; */
    border-radius: 18px;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px 5px #16284325;
}

.listIcon {
    margin-top: 3px;
    /* filter: drop-shadow(#ffffff 0px 0px 15px); */
}

.container h3 {
    color: #f64d77; /*ff3967 e8d5b3 162843 ffeaea*/
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* text-shadow: #ffffff 0px 0px 40px; */
}

.container p {
    font-weight: 500;
    padding: 0px 7px 2px;
    margin-top: 8px;
    width: 100%;
    cursor: pointer;
}

.hover:hover {
    /* color: #000000; */
    background-color: #2e2e2e; /*273550*/
    /* background-color: #bacddc3c; */
    border-radius: 7px;
}

.selected {
    color: #000000;
    font-weight: 500;
    background-color: #ffbbd7; /*ffaec1 fdf6e5*/
    border-radius: 7px;
}

@media (max-width: 500px) {
    /* .container{
        min-width: calc(100% - 228px)
    } */

    .container {
        min-width: 100px;
        min-height: 150px;
        border-radius: 12px;
        margin-left: 5px;
        padding: 15px 7px;
        position: sticky;
        top: 66px;
    }

    .listIcon {
        margin-top: 3px;
        margin-left: 2px;
    }

    .container h3 {
        margin-bottom: 13px;
        font-size: 11px;
    }

    .container p {
        font-weight: 500;
        padding: 1px 5px 1px;
        margin: 6px auto 0px;
        font-size: 8px;
        width: 84px
    }

    .hover:hover {
        border-radius: 4px;
    }

    .selected {
        border-radius: 4px;
    }
}
