/* 832258    bacddc    eae2d6*/
/* ebdfc7   162843 */

.container {
    height: max-content;
    min-width: 192px;
    min-height: 234px;
    background-color: #eae2d6;
    border: solid 2px #832258;
    border-radius: 18px;
    margin-left: 70px;
    padding: 20px;
}

.container h3 {
    color: #832258;
    margin-bottom: 13px;
}

.container p {
    font-weight: 500;
    padding: 0px 7px 2px;
    margin-top: 8px;
    width: 100%;
    cursor: pointer;
}

.hover:hover {
    color: #000000;
    background-color: #cdb8975f;
    /* background-color: #bacddc3c; */
    border-radius: 10px;
}

.selected {
    color: #ab1166;
    background-color: #f1ece8;
    border-radius: 10px;
}
