.container {
    background-color: #f44f34;
    border-radius: 15px;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boto {
    font-size: 30px;
    font-weight: 600;
}

.basket {
    background-color: #f4f4f4;
    color: #f44f34;
    font-size: 38px;
    padding: 7px;
    border-radius: 8px;
    margin-top: 6px;
    margin-right: 7px;
}

.container span {
    position: absolute;
    right: 190px;
    top: 17px;
    background-color: #222222;
    border-radius: 14px;
    padding: 0px 0px 1px 1px;
    font-size: 15px;
    font-weight: 500;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
