.container {
    background-color: #fff;
    border: dotted 3px #cfcfcf;
    border-radius: 18px;
    width: 260px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container img {
    height: 200px;
    width: 170px;
    border-radius: 5px;
    margin: 20px auto;
}

.container p {
    color: #f44f34;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
}

.container span {
    color: #414141;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px 25px 20px;
}

.functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 15px;
}

.functions a {
    height: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.button {
    background-color: #f44f34;
    color: #fff;
    border-radius: 6px;
    padding: 7px;
    font-size: 25px;
    cursor: pointer;
}

.details {
    color: #f44f34;
    font-size: 20px;
}

.shopping {
    background-color: #f44f34;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
    padding: 3px;
}
