/* 832258    bacddc    eae2d6*/

.container {
    background-color: #eae2d6;
    border: solid 2px #832258;
    border-radius: 18px;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.container img {
    height: 200px;
    width: 170px;
    border-radius: 5px;
    margin: 20px auto 30px;
}

.container p {
    display: flex;
    justify-content: center;
    color: #832258;
    font-weight: 700;
    font-size: 18px;
    /* margin-left: 20px; */
}

.price {
    color: #832258;
    margin-right: 7px;
}

.container span {
    color: #414141;
    font-weight: 500;
    font-size: 16px;
    margin: 25px 0px 20px 30px;
}

.functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 15px;
}

.functions a {
    height: 27px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.button {
    background-color: #832258;
    color: #fff;
    border-radius: 6px;
    padding: 7px;
    font-size: 25px;
    cursor: pointer;
}

.details {
    color: #832258;
    font-size: 24px;
}

.shopping {
    background-color: #832258;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
    padding: 3px;
}
