/* 832258    bacddc    eae2d6*/
/* ebdfc7   162843 */

.container {
    background-color: #fefbf4; /*f9f3e4*/
    /* border: solid 1px #162843; */
    border-radius: 18px;
    min-width: 240px;
    max-width: 350px;
    width: 31%;
    /* min-width: 240px; */
    /* width: max-content; */
    display: flex;
    flex-direction: column;
    margin: 0px 15px 40px 0px;
    box-shadow: 0px 0px 15px 5px #16284325;
}

.container img {
    height: 200px;
    width: 180px;
    /* mix-blend-mode: darken; remove backgroud */
    border-radius: 5px;
    margin: 20px auto 30px;
}

.container h3 {
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 20px;
    color: #000;
    font-size: 19px;
    height: 40px;
}

.price {
    color: #000; /*414141 cf4366*/
    font-weight: 500;
    font-size: 16px;
    margin: 15px 0px 35px 20px;
    display: flex;
    align-items: center;
}

.priceTag {
    color: #000;
    margin-right: 3px;
    font-size: 17px;
}

.functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 15px;
}

.functions a {
    height: 27px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.button {
    background-color: #d44267;
    color: #fefbf4; /*f1e8cf 162843*/
    border-radius: 6px;
    padding: 6px;
    font-size: 25px;
    cursor: pointer;
}

.delete {
    background-color: #d44267;
    color: #fefbf4; /*f1e8cf 162843*/
    border-radius: 6px;
    padding: 4px;
    font-size: 25px;
    cursor: pointer;
}

.details {
    color: #d44267;
    font-size: 24px;
}

.shopping {
    background-color: #d44267; /*162843 ed4b74 cd3a5f*/
    color: #fefbf4; /*ffaec1 f1e8cf fefbf4*/
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
    padding: 2px;
}

.buttons span {
    color: #000; /*414141 cf4366*/
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 1010px) {
    .container {
        width: 45%;
    }
}

@media (max-width: 750px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 550px) {
    .container {
        border-radius: 12px;
        min-width: 112px;
        max-width: 250px;
        width: 31%;
        margin: 0px 7px 20px 0px;
    }

    .container img {
        height: 85px;
        width: 75px;
        border-radius: 5px;
        margin: 15px auto 17px;
    }

    .container h3 {
        margin-left: 0px;
        font-size: 10px;
        height: 30px;
        text-align: center;
        padding: 0px 2px;
    }

    .price {
        font-weight: 500;
        font-size: 9px;
        margin: 10px 0px 8px 16px;
    }

    .priceTag {
        margin-right: 3px;
        font-size: 10px;
    }

    .functions {
        margin: 0px 15px 3px;
    }

    .functions a {
        height: 22px;
    }

    .buttons {
        width: 48px;
    }

    .button {
        border-radius: 3px;
        padding: 4px;
        font-size: 15px;
    }

    .delete {
        border-radius: 3px;
        padding: 2px;
        font-size: 15px;
    }

    .details {
        font-size: 15px;
    }

    .shopping {
        font-size: 15px;
        border-radius: 3px;
        padding: 2px;
    }

    .buttons span {
        font-weight: 500;
        font-size: 10px;
    }
}

@media (max-width: 482px){
    .container{
        width: 47%;
    }
}

@media (max-width: 363px){
    .container{
        width: 80%;
    }
}