/* 832258    bacddc    eae2d6*/

.container {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.container input {
    padding: 8px 10px;
    border: dotted #832258 2px;
    color: #832258;
    background-color: #f1ece8;
    border-radius: 10px;
    font-size: 18px;
    width: 240px;
    font-weight: 500;
}

.container input:focus {
    outline: none;
}

.search {
    background-color: #832258;
    color: #eae2d6;
    margin-left: 15px;
    font-size: 37px;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}

.search:hover {
    padding: 5px;
}
