.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #cf4366; /*162843*/
    /* border-radius: 15px; */
    padding: 0px 50px;
    color: #000; /*ff0055 ece5da fefbf4*/
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: #424242bb 0px 0px 5px 2px;
}

.myLink {
    display: flex;
    align-items: center;
    /* margin-right: 20px; */
}

.a {
    color: #f1f1f1;
    margin-right: 7px;
    opacity: 85%;
}

.a:hover {
    opacity: 100%;
}

.basketButton {
    margin-left: 20px;
}

.shop {
    /* padding-left: 4px; */
    font-size: 30px;
    font-weight: 700;
    /* border: 1px solid black; */
    /* -webkit-text-stroke: 1px #000000; */
    /* filter: drop-shadow(0px 0px 1px #000000); */
    text-shadow: #000000 0px 0px 1px;
}

.boto:hover {
    /* text-shadow: 0px 0px 2px #f7f7f7; */
    text-shadow: #4c4c4c 0px 0px 2px;
    transition: ease-in-out 0.1s;
    color: #151515;
}

.basket {
    background-color: #fefbf4; /*ece5da*/
    color: #000000; /*162843*/
    font-size: 37px;
    padding: 7px;
    border-radius: 8px;
    margin-top: 6px;
    margin-right: 7px;
}

.basket:hover {
    box-shadow: #30303069 0px 0px 9px 3px;
    transition: ease-in-out 0.1s;
}

.header span {
    position: absolute;
    right: 47px;
    top: 7px;
    color: #fff;
    background-color: #000;
    border-radius: 14px;
    font-weight: 500;
    font-size: 13px;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.body {
    margin: 170px auto 110px;
    max-width: 1200px;
    padding: 0px 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cf4366;
    /* border-radius: 15px; */
    padding: 0px 20px;
    color: #f1f1f1;
    height: 60px;
    font-weight: 600;
    width: 100%;
    box-shadow: #9b9b9b 0px 0px 7px 1px;
}

.footer span {
    color: #000000;
}

@media (max-width: 550px) {
    .header {
        padding: 0px 10px;
        height: 60px;
    }

    .myLink {
        font-size: 12px;
    }

    .a {
        margin-right: 6px;
    }

    .basketButton {
        margin-left: 10px;
    }

    .shop {
        font-size: 25px;
    }

    .basket {
        font-size: 27px;
        padding: 6px;
        border-radius: 6px;
    }

    .header span {
        position: absolute;
        right: 8px;
        top: 7px;
        font-size: 11px;
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 390px) {
    .shop {
        font-size: 21px;
    }
}
